* {
	box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

/* HEADER */

.header {
	padding: 5px 0px;
	margin-bottom: 55px;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 70px;
	height: 70px;
}

.header__nav {
	margin-left: 103px;
	margin-top: 5px;
}

.header__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}

.header__item {
	margin-right: 15px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-weight: 400;
	font-size: 20px;
	line-height: 19px;
	color: black;
	text-decoration: none;
	font-family: 'Inter';
}

.container2 {
	display: flex;
   align-items: center;
   justify-content: center
}
